body{
  margin: 0px;
  padding: 0px;
  background-color: black;
}
.headerDiv{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  position: fixed;
  padding: 5px 0;
  right: 0;
  left: 0;
  padding-left: 300px;
  padding-right: 410px;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.5s;
  z-index: 10;
}
.header-scrolled{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.8;
  padding: 0px 0;
  background-color: black;
  position: fixed;
  right: 0;
  left: 0;
  padding-left: 300px;
  padding-right: 410px;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.5s;
  z-index: 10;
}
.navbar{
  animation: 2s slideLeft;
  animation-iteration-count: 1;
}
a{
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.navbar ul{
  display: flex;
  list-style: none;
}
.navbar li {
  position: relative;
}
.navbar>ul>li{
  white-space: nowrap;
  padding: 0px 0px 0px 30px;
}
.navbar a{
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar .active:before {
  visibility: visible;
  width: 80%;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeDiv{
  font-family: "Tusker Grotesk", sans-serif;
  background: url("/public/background.png") fixed center no-repeat;
  background-size: 200vh 100vh;
  height: 100vh;
  width: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation: fadeInHome ease 8s;
  animation-iteration-count: 1;
  z-index: 1;
}
.name{
  position: fixed;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 4.5rem;
  font-weight: 600;
  animation: fadeInHome ease 9s;
  animation-iteration-count: 1;
  z-index: 1;
}
.autoText{
  position: fixed;
  font-size: 2.5em;
  margin-top: 200px;
  animation: fadeInHome ease 9s;
  animation-iteration-count: 1;
}
.aboutDiv{
  font-family: "Tusker Grotesk", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr 1.5fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "aboutTitleText aboutTitleText aboutTitleText aboutTitleText" 
  ". profile aboutText aboutText"
  ". skillsDiv aboutText aboutText"
  ". skillsDiv aboutText aboutText";
  height: 960px;
  width: 1920px;
  margin: 0px;
  transition: all 0.7s;
  z-index: 2;
}
.aboutTitleText{ 
  grid-area: aboutTitleText;
  text-align: center;
  font-weight: 500;
  margin: 80px 0px 0px 0px;
  font-size: 5em;
  visibility: hidden;
}
.profile{
  grid-area: profile;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.aboutText{
  grid-area: aboutText;
}
.whoAmI{
  font-size: 3rem;
  color: white;
  margin: 50px 0px 0px 100px;
}
.aboutMeText{
  color: white;
  font-size: 2.5rem;
  width: 700px;
  margin: 50px 0px 0px 100px;
}
.skillsDiv{
  grid-area: skillsDiv;
  color: white;
  width: 500px;
  text-align: left;
  font-size: 1.2rem;
  margin: 0px 0px 0px 0px;
}
.skillsDiv p{
  margin: 5px 0px 0px 0px;
}
.progress{
  padding: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}
.progress-bar2 {
  height: 20px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #141e30    , #243b55 );
  width: 0%;
  transition: 1.5s 0.2s width ease-in-out;
}
.projectsDiv{
  height: 960px;
  width: 1920px;
  z-index: 2;
}
.projectsTitleText{ 
  font-family: "Tusker Grotesk", sans-serif;
  font-weight: 500;
  margin: 80px 0px 70px 0px;
  font-size: 5em;
  visibility: hidden;
  text-align: center;
}
.swiper {
  color: white;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 180px;
  visibility: hidden;
}
.swiper-slide {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.swiper-slide img {
  position: relative;
  width: 100%;
  z-index: 10;
  border-radius: 10px;
}
.swiper-slide-shadow-coverflow{
  border-radius: 10px;
}
.slideDown{
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
  text-align: center;
  animation: 1s slideDown;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.slideUp{
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
  text-align: center;
  animation: 1s slideUp;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.iconsDown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0px 0px 0px 0px;
  animation: 1s slideLeftIcons2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.iconsUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0px 0px 0px 0px;
  animation: 1s slideRightIcons2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.contactDiv{
  font-family: "Tusker Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 710px;
  width: 1920px;
  margin: 0px 0px 0px 0px;
  z-index: 2;
}
.contactTitleText{
  font-weight: 500;
  margin: 80px 0px 0px 0px;
  font-size: 5em;
}
.contactText{
  color: white;
  height: 30px;
  text-align: center;
  font-size: 1.5rem;
  margin: 30px 0px 0px 0px;
}
.formDiv{
  color: white;
  font-size: 2rem;
  margin: 20px 0px 0px 0px;
}
.contactInputs{
  min-height: 40px;
  min-width: 600px;
  margin-bottom: 0px;
}
.formDiv label{
  font-size: 25px;
}
.contactItems{
  display: flex;
}
.mailIcon{
  color: white;
  margin: 6px 0px 0px 10px;
}
.mailText{
  font-size: 20px;
  color: white;
  margin: 10px 0px 0px 10px;
}
.submitBtn{
  width: 170px;
  height: 40px;
  font-size: 18px;
  letter-spacing: 1px;
  border: 3px solid black;
  background: white;
  color: black;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  margin: 2px 0px 0px 200px;
  padding-top: 8px;
}
.submitBtn:hover{
  background: black;
  color: white;
  transition: 0.3s;
}
.submitBtn span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}
.success{
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}
.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}
.submitBtn.activeBtn{
  width: 40px;
  height: 40px;
}
.submitBtn.activeBtn .success{
  opacity: 1;
  visibility: visible;
}
.submitBtn.activeBtn .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}
.submitBtn.activeBtn span{
  opacity: 0;
  visibility: hidden;
}
.footerDiv{
  font-family: "Tusker Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 228px;
  width: 1920px;
  color: white;
}
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  padding: 18px 18px 5px;
  margin-top: 0px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
}
.button-57 span:first-child {
  transition: color 600ms black;
}
.button-57 span:last-child {
  color: white;
  display: block;
  position: relative;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}
.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
 
}
.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.iconsList {
  grid-area: iconsList;
  margin: 60px 0px 0px 0px;
  padding:0px;
  display:flex;
}
.iconsList li {
  list-style:none;
}
.iconsList li a {
  display:block;
  position:relative;
  width:50px;
  height:50px;
  line-height:60px;
  font-size:30px;
  text-align:center;
  text-decoration:none;
  color:white;
  margin: 0 30px;
  transition:.5s;
}
.iconsList li a span {
  position:absolute;
  transition: transform .5s;
}
.iconsList li a span:nth-child(1),
.iconsList li a span:nth-child(3){
  width:100%;
  height:3px;
  background:white;
}
.iconsList li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
.iconsList li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

.iconsList li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.iconsList li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

.iconsList li a span:nth-child(2),
.iconsList li a span:nth-child(4){
  width:3px;
  height:100%;
  background:white;
}
.iconsList li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.iconsList li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
.iconsList li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
.iconsList li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}
.facebook:hover {
  color: #3b5998;
}
.facebook:hover span { 
  background: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover span { 
  background: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span { 
  background: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}
.google:hover span { 
  background: #dd4b39;
}
.iconsList li a .twitter {
  color: #1da1f2;
}
.iconsList li a:hover:nth-child(3) {
  color: #c32aa3;
}
.iconsList li a:hover:nth-child(4) {
  color: #dd4b39;
}
.apcfDiv{
  background-image: radial-gradient(#021027, #000000);
  z-index: 99;
}
.aboutTitleText,
.projectsTitleText,
.contactTitleText{
  color: white;
}
@keyframes fadeInHome {
  0% {
   opacity: 0;
   background: url("/public/background.png") fixed center no-repeat;
   background-size: 200vh 100vh;
   }
  70% {
   opacity: 1;
   background: url("/public/background.png") fixed center no-repeat;
   background-size: 200vh 100vh;
   }
 }
@keyframes slideLeft {
  0% {
    opacity: 0;
    margin-right: -1000px;
    }
   100% {
    opacity: 1;
    margin-right: 0%;
    }
}
@keyframes slideDown {
  0% {
    margin-top: -50px;
    position: relative;
    z-index: 0;
    }
   100% {
    margin-top: 10px;
    position: relative;
    z-index: 0;
    }
}
@keyframes slideUp {
  0% {
    opacity: 1;
    margin-top: 10px;
    position: relative;
    z-index: 0;
    }
   100% {
    opacity: 0;
    margin-top: -50px;
    position: relative;
    z-index: 0;
    }
}
@keyframes slideLeftIcons2 {
  0% {
    opacity: 1;
    margin-top: -180px;
    margin-left: 0px;
    position: relative;
    z-index: 0;
    }
   100% {
    opacity: 1;
    margin-left: -60px;
    margin-top: -240px;
    position: relative;
    z-index: 0;
    }
}
@keyframes slideRightIcons2 {
  0% {
    opacity: 1;
    margin-top: -240px;
    margin-left: -60px;
    position: relative;
    z-index: 0;
    }
   100% {
    opacity: 1;
    margin-left: 0px;
    margin-top: -180px;
    position: relative;
    z-index: 0;
    }
}