body{
  background-color: hsl(0, 0%, 90%);
  margin: 0px;
  padding: 0px;
}
.headerDiv{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  position: fixed;
  padding: 5px 0;
  right: 0;
  left: 0;
  padding-left: 300px;
  padding-right: 410px;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.5s;
  z-index: 10;
}
.header-scrolled{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.8;
  padding: 0px 0;
  background-color: black;
  position: fixed;
  right: 0;
  left: 0;
  padding-left: 300px;
  padding-right: 410px;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.5s;
  z-index: 10;
}
.navbar{
  animation: 2s slideLeft;
  animation-iteration-count: 1;
}
a{
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.navbar ul{
  display: flex;
  list-style: none;
}
.navbar li {
  position: relative;
}
.navbar>ul>li{
  white-space: nowrap;
  padding: 0px 0px 0px 30px;
}
.navbar a{
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar .active:before {
  visibility: visible;
  width: 80%;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeBackground{
  background-color: black;
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 200vh;
}
.homeDiv{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("/public/background.png") fixed center no-repeat;
  background-size: 200vh 100vh;
  height: 100vh;
  width: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation: fadeInHome ease 8s;
  animation-iteration-count: 1;
  z-index: 1;
}
.name{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 4.5rem;
  font-weight: 600;
  animation: fadeInHome ease 9s;
  animation-iteration-count: 1;
}
.autoText{
  font-size: 2.5em;
  margin-top: 0px;
  animation: fadeInHome ease 9s;
  animation-iteration-count: 1;
}
.aboutTitleText{ 
  font-family: serif;
  font-weight: 400;
  margin: 60px 0px 0px 0px;
  font-size: 4em;
  visibility: hidden;
}
.aboutDiv{
  font-family: serif;
  display: grid;
  grid-template-columns: 325px 325px 325px 325px;
  grid-template-rows: 150px 150px 150px 150px; 
  grid-template-areas: 
  "profile . skillsDiv skillsDiv"
  "whoAmI whoAmI skillsDiv skillsDiv"
  "aboutMeText aboutMeText skillsDiv skillsDiv";
  height: 580px;
  width: 1300px;
  margin: 60px 0px 0px 0px;
  background-color: white;
  transition: all 0.7s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.aboutDiv:hover,
.aboutDiv:focus {
  box-shadow: rgba(0, 0, 0, 1) 0 5px 40px;
}
.profile{
  grid-area: profile;
  margin: 70px 0px 0px 235px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
}
.whoAmI{
  grid-area: whoAmI;
  font-size: 2.5rem;
  margin: 100px 0px 0px 200px;
}
.aboutMeText{
  grid-area: aboutMeText;
  font-size: 1.5rem;
  margin: 30px 0px 0px 70px;
}
.skillsDiv{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-area: skillsDiv;
  width: 450px;
  text-align: left;
  margin: 40px 0px 0px 65px;
}
.skillsDiv p{
  margin: 18px 0px 0px 0px;
}
.progress{
  padding: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}
.progress-bar2 {
  height: 17px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #141e30    , #243b55 );
  width: 0%;
  transition: 1.5s 0.2s width ease-in-out;
}
.projectsTitleText{ 
  font-family: serif;
  font-weight: 400;
  margin: 150px 0px 60px 0px;
  font-size: 4em;
  visibility: hidden;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;
  visibility: hidden;
}
.swiper-slide {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.swiper-slide img {
  position: relative;
  width: 100%;
  z-index: 10;
  border-radius: 10px;
}
.swiper-slide-shadow-coverflow{
  border-radius: 10px;
}
.slideDown{
  font-size: 40px;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
  text-align: center;
  animation: 1s slideDown;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.slideUp{
  font-size: 40px;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
  text-align: center;
  animation: 1s slideUp;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.iconsDown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 10px 0px 0px 160px;
  animation: 1s slideLeft2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.iconsUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 10px 0px 0px 160px;
  animation: 1s slideRight2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.contactDiv{
  font-family: serif;
  display: grid;
  grid-template-columns: 325px 325px 325px 325px;
  grid-template-rows: 150px 150px 150px 150px; 
  grid-template-areas: 
  "contactTitle contactTitle formDiv formDiv"
  "contactTitle contactTitle formDiv formDiv"
  "contactText contactText formDiv formDiv"
  "contactText contactText formDiv formDiv";
  height: 580px;
  width: 1300px;;
  margin: 200px 0px 300px 0px;
}
.contactTitle{
  grid-area: contactTitle;
  font-size: 3rem;
  margin: 200px 0px 0px 150px;
}
.contactText{
  grid-area: contactText;
  font-size: 1.5rem;
  margin: 0px 0px 0px 150px;
}
.formDiv{
  grid-area: formDiv;
  font-size: 2rem;
  margin: 150px 0px 0px 40px;
}
.contactInputs{
  min-height: 40px;
  min-width: 600px;
  margin-bottom: 15px;
}
.formDiv label{
  font-size: 25px;
}
.contactRightSide{
  display: flex;
}
.mailIcon{
  color: black;
  margin: 6px 0px 0px 10px;
}
.mailText{
  font-size: 20px;
  color: black;
  margin: 10px 0px 0px 10px;
}
.submitBtn{
  font-family: 'Ubuntu', sans-serif;
  width: 170px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid black;
  background: white;
  color: black;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  margin: 2px 0px 0px 200px;
  padding-top: 8px;
}
.submitBtn:hover{
  background: black;
  color: white;
  transition: 0.3s;
}
.submitBtn span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}
.success{
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}
.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}
.submitBtn.activeBtn{
  width: 40px;
  height: 40px;
}
.submitBtn.activeBtn .success{
  opacity: 1;
  visibility: visible;
}
.submitBtn.activeBtn .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}
.submitBtn.activeBtn span{
  opacity: 0;
  visibility: hidden;
}
@keyframes fadeInHome {
  0% {
   opacity: 0;
   background: url("/public/background.png") fixed center no-repeat;
   background-size: 200vh 100vh;
   }
  70% {
   opacity: 1;
   background: url("/public/background.png") fixed center no-repeat;
   background-size: 200vh 100vh;
   }
 }
@keyframes slideLeft {
  0% {
    opacity: 0;
    margin-right: -1000px;
    }
   100% {
    opacity: 1;
    margin-right: 0%;
    }
}
@keyframes slideDown {
  0% {
    margin-top: -50px;
    position: relative;
    z-index: 0;
    }
   100% {
    margin-top: 10px;
    position: relative;
    z-index: 0;
    }
}
@keyframes slideUp {
  0% {
    opacity: 1;
    margin-top: 10px;
    position: relative;
    z-index: 0;
    }
   100% {
    opacity: 0;
    margin-top: -50px;
    position: relative;
    z-index: 0;
    }
}
@keyframes slideLeft2 {
  0% {
    opacity: 1;
    margin-top: -240px;
    margin-left: 0px;
    position: relative;
    z-index: 0;
    }
   100% {
    opacity: 1;
    margin-top: -300px;
    margin-left: -80px;
    position: relative;
    z-index: 0;
    }
}
@keyframes slideRight2 {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-left: -80px;
    position: relative;
    z-index: 0;
    }
   100% {
    opacity: 1;
    margin-top: -240px;
    margin-left: 0px;
    position: relative;
    z-index: 0;
    }
}